<div class="row">
  <div class="col-md-3">
    <p>sidebar</p>
  </div>
  
  <div class="col-md-9">
    <table class="table table-bordered">
      <% @courses.each do |course| %>
      <tr>
        <td><%= link_to(course.title, course_path(course)) %></td>
        <td><%= course.created_at %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
