<footer class="footer">
    <div class="container">
              <div class="row">
                <div class="col-md-2 col-xs-4">
                  <h5>全栈营</h5>
                  <ul class="list-unstyled">
                    <li><a href="#">课程介绍</a></li>
                    <li><a href="#">教学团队</a></li>
                    <li><a href="#">学员心得</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h5>课程资源</h5>
                  <ul class="list-unstyled">
                    <li><a href="#">学习中心</a></li>
                    <li><a href="#">帮助文档</a></li>
                    <li><a href="#">交流论坛</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h5>关于我们</h5>
                  <ul class="list-unstyled">
                    <li><a href="help">公司介绍</a></li>
                    <li><a href="help">常见问题</a></li>
                    <li><a href="contact">联系方式</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-xs-12 footer-box">
                  <div class="icon">
                    <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
                    <a href="https://twitter.com/kerzzi123">在线客服 <span class="xs-mobile">(非技术答疑，工作日10:00-19:00)</span></a>
                  </div>
                  <br>
                  <div class="footer-content row">
                    <div class="col-md-1">
                      <img src="https://fullstack.xinshengdaxue.com/images/logo.png">
                    </div>
                    <div class="col-md-11">
                      <p><strong>新生大学线上全栈营由两岸知名的 Rails 教练郑伊廷、天使投资人李笑来共同主持。</strong></p>
                    </div>
                  </div>
                </div>
              </div>
                <hr/>
                <div class="copyright-content">
                    <div class="copyright-info">
                        <p>
                            ©2017 仿全栈营 | Designed By <a href="http://kerzzi.github.io/" target="_blank">Kerzzi</a>
                        </p>
                    </div>
                    <div class="legal-info">
                      <p>
                          本站聘请诸葛亮律师为法律顾问
                      </p>
                    </div>
                </div>
    </div>
</footer>
