<h1>Add a Course</h1>

<%= simple_form_for [:admin,@course] do |course| %>

<%= course.input :title %>
<%= course.input :description %>

<%= course.submit "Submit" %>
<% end %>

<!-- 新增教程的时候，将目录、faq等页面一起建立。可以参考rails百宝箱。 -->